<!-- page content -->
<div class="right_col" role="main" style="min-height: 949px;">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>General Elements</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <i class="fa fa-bars"></i> Tabs
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div role="tabpanel" data-example-id="togglable-tabs">
                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                            <li class="active" role="presentation">
                                <a id="home-tab" role="tab" aria-expanded="true" href="#tab_content1" data-toggle="tab">Quản trị viên</a>
                            </li>
                            <li role="presentation">
                                <a id="profile-tab" role="tab" aria-expanded="false" href="#tab_content2" data-toggle="tab">Người dùng</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active in" id="tab_content1" role="tabpanel" aria-labelledby="home-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Default Example
                                                <small>Users</small>
                                            </h2>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">

                                            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer" id="datatable_wrapper">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                            <table class="table table-striped table-bordered dataTable no-footer" id="datatable" role="grid" aria-describedby="datatable_info">
                                                                                                <thead>
                                                                                                    <tr role="row">
                                                                                                        <th tabindex="0" class="sorting_asc" aria-controls="datatable" style="width: 130px;" aria-label="Name: activate to sort column descending"
                                                                                                            aria-sort="ascending"
                                                                                                            rowspan="1" colspan="1">Họ tên</th>
                                                                                                        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 130px;" aria-label="Position: activate to sort column ascending"
                                                                                                            rowspan="1" colspan="1">Email</th>
                                                                                                        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 108px;" aria-label="Office: activate to sort column ascending"
                                                                                                            rowspan="1" colspan="1">Ngày sinh</th>
                                                                                                        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 60px;" aria-label="Age: activate to sort column ascending"
                                                                                                            rowspan="1" colspan="1">Giới tính</th>
                                                                                                        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 107px;" aria-label="Start date: activate to sort column ascending"
                                                                                                            rowspan="1" colspan="1">Địa chỉ</th>
                                                                                                        <th tabindex="0" class="sorting" aria-controls="datatable" style="width: 84px;" aria-label="Salary: activate to sort column ascending"
                                                                                                            rowspan="1" colspan="1">Loại người dùng</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    <tr class="odd" role="row">
                                                                                                        <td class="sorting_1">Airi Satou</td>
                                                                                                        <td>Accountant</td>
                                                                                                        <td>Tokyo</td>
                                                                                                        <td>33</td>
                                                                                                        <td>2008/11/28</td>
                                                                                                        <td>$162,700</td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                                                        <ul class="pagination">
                                                            <li class="paginate_button previous disabled" id="datatable_previous">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="0">Previous</a>
                                                            </li>
                                                            <li class="paginate_button active">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="1">1</a>
                                                            </li>
                                                            <li class="paginate_button ">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="2">2</a>
                                                            </li>
                                                            <li class="paginate_button ">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="3">3</a>
                                                            </li>
                                                            <li class="paginate_button ">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="4">4</a>
                                                            </li>
                                                            <li class="paginate_button ">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="5">5</a>
                                                            </li>
                                                            <li class="paginate_button ">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="6">6</a>
                                                            </li>
                                                            <li class="paginate_button next" id="datatable_next">
                                                                <a tabindex="0" aria-controls="datatable" href="#" data-dt-idx="7">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab_content2" role="tabpanel" aria-labelledby="profile-tab">
                                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                    Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                                    four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
                                    beer mlkshk aliquip
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- page content -->