<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> Quản lý thể loại
              <small> Thêm, sửa, xóa, tìm kiếm </small>
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <td> STT </td>
                  <th> Tên thể loại </th>
                  <th> Hành động </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> Văn học hiện đại </td>
                  <td>
                    <a href="/author/ho-van-hoang" class="btn btn-primary btn-xs">
                      <i class="fa fa-folder"></i> Xem </a>
                    <a href="/author/ho-van-hoang" class="btn btn-info btn-xs">
                      <i class="fa fa-pencil"></i> Sửa </a>
                    <a href="/author/ho-van-hoang" class="btn btn-danger btn-xs">
                      <i class="fa fa-trash-o"></i> Xóa </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<!-- add button -->
<a id="add_button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Thêm thể loại" href="#">
  <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
</a>
<!-- /add content -->