<footer class="footer-blockbuilder">
    <div class="pa-row-container" data-uniqid="je54rz8o" data-animate="none">
        <div class="container-fullwidth">
            <div class="pa-row-inner">
                <div class="row">
                    <div class="pa-column-container col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-uniqid="je54rz8q" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_spacing_element_wrapper" data-uniqid="je54s54n">
                                <div class="pa-element-inner pa_spacing_element">
                                    <div class="pav-spacing" style="height:30px; clear: both; width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pa-row-container text-center" data-uniqid="jh8j8wks" data-animate="none">
        <div class="container">
            <div class="pa-row-inner">
                <div class="row">
                    <div class="pa-column-container col-lg-2 col-md-12 col-sm-12 col-xs-12 " data-uniqid="jh8j8wku" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_single_image_element_wrapper" data-uniqid="jef2yjxy">
                                <div class="pa-element-inner pa_single_image_element">
                                    <div class="image-item pa_single_image2">
                                        <a href="#" class="pa-element pa_single_image">
                                            <div class="effect-v3">
                                                <img src="http://demopavothemes.com/oc3/pav_mesa/image/cache/catalog/demo/logo-101x43.jpg" alt="logo-footer" />
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pa-column-container col-lg-7 col-md-12 col-sm-12 col-xs-12 " data-uniqid="jh8j8yfj" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="jh8j485t">
                                <div class="pa-element-inner pa_custom_menu_element">

                                    <div class="pavo-widget-custom-menu hor  ">

                                        <ul class="list-inline ">
                                            <li class="custom-menu-item item-0">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Home
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-1">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Company
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-2">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Affiliates
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-3">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Support
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-4">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Privacy
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-5">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    FAQ's
                                                </a>
                                            </li>
                                            <li class="custom-menu-item item-6">
                                                <a href="#">
                                                    <i class="fa "></i>
                                                    Contact
                                                </a>
                                            </li>
                                        </ul>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pa-column-container col-lg-3 col-md-12 col-sm-12 col-xs-12 " data-uniqid="jh8j8yfl" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_social_network_element_wrapper" data-uniqid="jcva6pkz">
                                <div class="pa-element-inner pa_social_network_element">
                                    <div class="pavo-widget-socials social-network ">
                                        <ul class="social list-inline size-small">
                                            <li class="facebook">
                                                <a class="_blank" href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a class="_blank" href="#">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a class="_blank" href="#">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a class="_blank" href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="reddit">
                                                <a class="_blank" href="#">
                                                    <i class="fa fa-reddit-alien"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pa-row-container" data-uniqid="jgx46x3g" data-animate="none">
        <div class="container">
            <div class="pa-row-inner">
                <div class="row">
                    <div class="pa-column-container col-lg-4 col-md-4 col-sm-12 col-xs-12 " data-uniqid="jgx46x3i" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_text_element_wrapper" data-uniqid="jcve2keg">
                                <div class="pa-element-inner pa_text_element">
                                    <div class="pavo-widget-text pa-element pa_text pa_text_element pa_text ">
                                        <div style="">
                                            <div class="footer-contact">
                                                <h5>Contact Us</h5>
                                                <address>
                                                    <div class="contact-info">
                                                        <i class="fa fa-map-marker"></i>
                                                        <span> Address: No 40 Baria Sreet 133/2 NewYork City, NY, United States
                                                        </span>
                                                    </div>
                                                    <div class="contact-info">
                                                        <i class="fa fa-phone"></i>
                                                        <span>Phone: + 84 123 456 888</span>
                                                    </div>
                                                    <div class="contact-info">
                                                        <i class="fa fa-envelope-o"></i>
                                                        <span>Contact@company.com </span>
                                                    </div>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pa-column-container col-lg-2 col-md-2 col-sm-12 col-xs-12 " data-uniqid="jgx47roz" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_block_links_element_wrapper" data-uniqid="jcvcc22f">
                                <div class="pa-element-inner pa_block_links_element">
                                    <div class="footer">

                                        <h5>Information</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=information/information&amp;information_id=4">About Us</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=information/information&amp;information_id=6">Delivery Information</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=information/information&amp;information_id=3">Privacy Policy</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pa-column-container col-lg-2 col-md-2 col-sm-12 col-xs-12 " data-uniqid="jgx47rp1" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_block_links_element_wrapper" data-uniqid="jcvcc22i">
                                <div class="pa-element-inner pa_block_links_element">
                                    <div class="footer">

                                        <h5>My Account</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=account/account">My Account</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=account/order">Order History</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=account/wishlist">Wish List</a>
                                            </li>
                                            <li>
                                                <a href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=account/newsletter">Newsletter</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pa-column-container col-lg-4 col-md-4 col-sm-12 col-xs-12 " data-uniqid="jgx47rp3" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_column_element_wrapper" data-uniqid="53">
                                <div class="pa-element-inner pa_column_element">
                                    <div class="pav-newsletter  v1  pav-newsletter default" id="newsletter_1611721564" data-mode="default">
                                        <form method="post" action="http://demopavothemes.com/oc3/pav_mesa/index.php?route=extension/module/pavnewsletter/subscribe"
                                            class="formNewLestter newsletter-bg">
                                            <div class="inner ">
                                                <h3>Our Newsletter</h3>
                                                <div class="description-top">
                                                    <p>Get the latest news on new arrivals, gifts, special offers and other
                                                        discount information.</p>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control input-md inputNew" onblur="javascript:if(this.value=='')this.value='Your email address';"
                                                        onfocus="javascript:if(this.value=='Your email address')this.value='';"
                                                        value="Your email address" size="18" name="email">
                                                </div>
                                                <div class="button-submit">
                                                    <button type="submit" name="submitNewsletter" class="btn btn-primary">Subscribe</button>
                                                </div>
                                                <input type="hidden" value="1" name="action">
                                                <div class="valid"></div>

                                                <div class="description-bottom">


                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <script>< !--
                                            $("#newsletter_1611721564").pavoNewsletter().work('Email is not valid!');
                                        --></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pa-row-container" data-uniqid="jcvf909n" data-animate="none">
        <div class="container">
            <div class="pa-row-inner">
                <div class="row">
                    <div class="pa-column-container col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-uniqid="jcvf909p" data-animate="none">
                        <div class="pa-column-inner">
                            <div class="pa-element-container pa_text_element_wrapper" data-uniqid="jcvfht9e">
                                <div class="pa-element-inner pa_text_element">
                                    <div class="pavo-widget-text pa-element pa_text pa_text_element  ">
                                        <div style="">
                                            <div class="text-copyright text-center">
                                                Copyright © 2017 -
                                                <a href="#">Mesa</a>. All rights reserved. Powered by Opencart </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<div id="top">
    <a class="backtop scrollup" href="">
        <i class="fa fa-angle-up"></i>
    </a>
</div>