<div id="shopify-section-footer" class="shopify-section">
    <footer>
        <div class="footer_row__1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 footer_block footer_block__2_1">
                        <div class="footer_item footer_item__newsletter">
                            <h3>ĐĂNG KÝ NHẬN TIN</h3>
                            <form method="post" action="/contact#contact_form" id="newsletter_form" accept-charset="UTF-8" class="contact-form">
                                <input type="hidden" name="form_type" value="customer">
                                <input type="hidden" name="utf8" value="✓">
                                <input type="hidden" name="contact[tags]" value="Newsletter subscriber">
                                <div class="form_wrapper">
                                    <input type="email" name="contact[email]" class="input-group__field newsletter__input" placeholder="Nhập email của bạn">
                                    <button class="btn btn_inverted" type="submit">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-2 footer_block ">
                        <div class="footer_item footer_item__links">
                            <h3>Thông tin</h3>
                            <ul>
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="/genre">Thể loại</a>
                                </li>
                                <li>
                                    <a href="/collections/romance">Khuyến mãi</a>
                                </li>                                                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 footer_block footer_block__2_1">
                        <div class="footer_item footer_item__links">
                            <h3>Tài khoản</h3>
                            <ul>
                                {{#if isLogin}}
                                <li>
                                    <a href="/user/profile">Tài khoản</a>
                                </li>
                                {{/if}}
                                <li>
                                    <a href="/account/addresses">Địa chỉ của tôi</a>
                                </li>
                                <li>
                                    <a href="/cart">Giỏ hàng</a>
                                </li>
                                <li>
                                    <a href="/pages/wishlist">Yêu thích</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 footer_block ">
                        <div class="footer_item footer_item__contacts">
                            <h3>Our shop</h3>
                            <div>
                                <p>My Company Glasgow D04 89GR</p>
                                <p>1-800-1234-567</p>
                                <p>info@demolink.org</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 footer_block footer_block__2_1">
                        <div class="footer_item footer_item__social">
                            <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/TemplateMonster/">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="//twitter.com/templatemonster">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tm.opencart/">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/user/TemplateMonsterCo">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="footer_row__2">
            <div class="container">
                <div class="footer_wrap_1">
                    <div class="footer_wrap_2 footer_left">
                        <a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>
                    </div>
                    <div class="footer_wrap_2 footer_right">
                        <ul class="footer_payments">
                            <li>
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                            </li>
                            <li>
                                <i class="fa fa-cc-visa" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<a id="back_top" href="#" style="display: none;">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>