<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta property="fb:app_id" content="" />

<title>{{ title }}</title>
<base href="http://demopavothemes.com/oc3/pav_mesa/" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="catalog/view/theme/pav_mesa/stylesheet/animate.min.css" rel="stylesheet">
<link href="catalog/view/javascript/jquery/swiper/css/swiper.min.css" type="text/css" rel="stylesheet" media="screen" />
<link href="catalog/view/javascript/pavothemer/3fb59baa1fe7846f3d016b3d72fc1ead.css" type="text/css" rel="stylesheet" media="screen"/>
<script src="catalog/view/javascript/pavothemer/a9d5b105cac46ecbecc43ac59e598aab.js"/>
<link rel="shortcut icon" href="/icons/favicon.png" type="image/png"/>