<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
<meta name="referrer" content="origin">
<title>{{tittle}}</title>
<meta data-browser="chrome" data-browser-major="64" />
<meta data-body-font-family="Helvetica Neue" data-body-font-type="system" />
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/23233807/digital_wallets/dialog">
<meta name="shopify-checkout-authorization-token" content="d3966b53ebe00739fdc6707e63a2624b" />
<meta id="google-autocomplete-sandbox-url" name="google-autocomplete-sandbox-url" content="https://checkout.shopify.com/23233807/sandbox/google_autocomplete?locale=en"
/>
<!--[if lt IE 9]>
<link rel="stylesheet" media="all" href="//cdn.shopify.com/app/services/23233807/assets/195723787/checkout_stylesheet/v2-ltr-edge-e8d47e15be3608c13262cf0a57c438e6-12639081640505576397/oldie" />
<![endif]-->
<!--[if gte IE 9]><!-->
<link rel="stylesheet" media="all" href="//cdn.shopify.com/app/services/23233807/assets/195723787/checkout_stylesheet/v2-ltr-edge-e8d47e15be3608c13262cf0a57c438e6-12639081640505576397"
/>
<!--<![endif]-->
<script type="text/javascript">
    (function () {
        window.ShopifyExperiments = {};
        window.ShopifyExperiments.rememberMe = false;
        window.ShopifyExperiments.googleAutocomplete = true;
    })();
</script>
<script src="//cdn.shopify.com/s/assets/checkout-13e992faf4b045df763e79afc09d49ee85bce6cdb4d151b2eb41435d5326260f.js"></script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script src="//cdn.shopify.com/app/services/23233807/javascripts/countries/195723787/en/countries-8d45e72286c0bacf227b1bf1f20486177cc40331-1505899468.js"></script>
<script type="text/javascript">
    if (window.opener) {
        window.opener.postMessage(JSON.stringify({ "current_checkout_page": "\/checkout\/contact_information" }), "*");
    }
    if (typeof Shopify == 'undefined') { Shopify = {}; }
    Shopify.Checkout = {};
    Shopify.Checkout.geolocatedAddress = { "lat": 10.8142, "lng": 106.6438 };
    Shopify.Checkout.locale = "en";
    Shopify.Checkout.token = "c169513505b568831a792aa21e4e1d18";
    Shopify.Checkout.requiresShipping = true;
    Shopify.Checkout.page = "show";
    Shopify.Checkout.step = "contact_information";
    Shopify.Checkout.apiHost = "theme356-books.myshopify.com";
    if (typeof ShopifyPay == 'undefined') { ShopifyPay = {}; }
    ShopifyPay.apiHost = "pay.shopify.com";
    ShopifyPay.apiToken = "WThEaERhS1k4S2F0T0ZwTWUvVFhGZWRwYXIzWGxsZVFZbCt0ZkxmQzhWTVhCUExjV3dFZzdJY2FLQXRaRDRvcC0tbmNhbWpHREZrYWtUT3RZV1dtbUQ5UT09--aeace098b6aa8e5888e5849daafa144ae5743b0e";
    Shopify.Checkout.AddressFormat = { "N_p_c_sc_a_a": [["company"], ["last_name", "first_name"], ["zip"], ["country"], ["province", "city"], ["address1"], ["address2"], ["phone"]], "N_p_c_c_a_a": [["company"], ["last_name", "first_name"], ["zip"], ["country"], ["city"], ["address1"], ["address2"], ["phone"]], "n_a_a_c_csp": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "province", "zip"], ["phone"]], "n_a_a_c_cs": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "province"], ["phone"]], "n_a_a_c_cp": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country", "zip"], ["phone"]], "n_a_a_c_c": [["first_name", "last_name"], ["company"], ["address1"], ["address2"], ["city"], ["country"], ["phone"]] };
    var thankYouStep = false;
    var rememberMeCookie = false;
    var rememberMeEnabled = false;
    if (thankYouStep) {
        Shopify.Checkout.OrderStatus = OrderStatusPageApi.prototype;
    }
    if (rememberMeCookie && rememberMeEnabled) {
        Shopify.Checkout.rememberMeCookieIsHere = true;
    }
</script>
<script type="text/javascript">
    Shopify.clientAttributesCollectionEventName =
        "client_attributes_checkout";
    var DF_CHECKOUT_TOKEN = "c169513505b568831a792aa21e4e1d18";
</script>
<script id="__st">var __st = { "a": 23233807, "offset": -14400, "reqid": "1291652e-039c-436d-af10-301b21ae40a5", "pageurl": "theme356-books.myshopify.com\/23233807\/checkouts\/c169513505b568831a792aa21e4e1d18?step=contact_information", "u": "fc00b2e6be80", "t": "checkout", "offsite": 1 };</script>