<div id="pavo-sidebar-offcanvas" class="sidebar-offcanvas">
    <div class="offcanvas-inner panel-offcanvas">
        <div class="offcanvas-heading clearfix">
            <div class="quick-search-form input-group">
                <input type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-lg">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
            <button data-toggle="offcanvas" class="btn btn-danger pull-right" type="button">
                <span class="fa fa-close"></span>
            </button>
        </div>
        <div class="offcanvas-body">
            <div class="inner">
                <div class="offcanvas-center">
                    <nav class="mainmenu">
                        <div class="navbar navbar-expand-lg navbar-light">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megamenu">
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav megamenu">
                                    <li class="parent dropdown  aligned-fullwidth">
                                        <a class="dropdown-toggle" href="index.php?route=common/home&amp;profile=demo">
                                            <span class="menu-title">Home</span>
                                            <b class="caret"></b>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-menu-inner content-blockbuilder">
                                                <div class="pa-row-container" data-uniqid="jh8ihdro" data-animate="none">
                                                    <div class="container">
                                                        <div class="pa-row-inner">
                                                            <div class="row">
                                                                <div class="pa-column-container col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-uniqid="jh8ihdrq" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_gallery_element_wrapper" data-uniqid="jh8ii8te">
                                                                            <div class="pa-element-inner pa_gallery_element">
                                                                                <div class="pavo-widget-gallery ">
                                                                                    <div class="inner">
                                                                                        <div class="image-gallery swiper-container " data-id="image-gallery1923018889">
                                                                                            <div class="swiper-wrapper">
                                                                                                <div class="swiper-slide">
                                                                                                    <div class="item-image" data-cols="4">
                                                                                                        <a href="index.php?route=information/information&information_id=17&profile=demo1">
                                                                                                            <img class="img-responsive" src="http://demopavothemes.com/oc3/pav_mesa/image/cache/catalog/demo/banners/img-menu-1-263x194.jpg"
                                                                                                                alt="Home 1">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <div class="item-text">Home 1</div>
                                                                                                </div>
                                                                                                <div class="swiper-slide">
                                                                                                    <div class="item-image" data-cols="4">
                                                                                                        <a href="index.php?route=information/information&information_id=7&profile=demo2">
                                                                                                            <img class="img-responsive" src="http://demopavothemes.com/oc3/pav_mesa/image/cache/catalog/demo/banners/img-menu-2-263x194.jpg"
                                                                                                                alt="Home 2">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <div class="item-text">Home 2</div>
                                                                                                </div>
                                                                                                <div class="swiper-slide">
                                                                                                    <div class="item-image" data-cols="4">
                                                                                                        <a href="index.php?route=information/information&information_id=8&profile=demo3">
                                                                                                            <img class="img-responsive" src="http://demopavothemes.com/oc3/pav_mesa/image/cache/catalog/demo/banners/img-menu-3-263x194.jpg"
                                                                                                                alt="Home 3">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <div class="item-text">Home 3</div>
                                                                                                </div>
                                                                                                <div class="swiper-slide">
                                                                                                    <div class="item-image" data-cols="4">
                                                                                                        <a href="index.php?route=information/information&information_id=9&profile=demo4">
                                                                                                            <img class="img-responsive" src="http://demopavothemes.com/oc3/pav_mesa/image/cache/catalog/demo/banners/img-menu-4-263x194.jpg"
                                                                                                                alt="Home 4">
                                                                                                        </a>
                                                                                                    </div>
                                                                                                    <div class="item-text">Home 4</div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="swiper-pager">
                                                                                                <div class="image-gallery-prev swiper-button-prev"></div>
                                                                                                <div class="image-gallery-next swiper-button-next"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <script type="text/javascript">< !--
                                                                                        $('[data-id="image-gallery1923018889"]').swiper({
                                                                                            pause: 'hover',
                                                                                            nextButton: '.swiper-button-next',
                                                                                            prevButton: '.swiper-button-prev',
                                                                                            slidesPerView: 4,
                                                                                            noSwipingClass: 'swiper-no-swiping',
                                                                                            slidesPerColumn: 1,
                                                                                            spaceBetween: 0,
                                                                                            onReachEnd: function (swiper) {
                                                                                                $('.swiper-button-next').one('click', function () {
                                                                                                    swiper.slideTo(0, 800, false);
                                                                                                });
                                                                                            },
                                                                                            breakpoints: {
                                                                                                767: {
                                                                                                    slidesPerView: 1,
                                                                                                    noSwiping: false
                                                                                                },
                                                                                                991: {
                                                                                                    slidesPerView: 2,
                                                                                                    noSwiping: false
                                                                                                },
                                                                                            }
                                                                                        });
                                                                                    --></script>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="parent dropdown badges-danger aligned-fullwidth">
                                        <a class="dropdown-toggle" href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=product/category&amp;path=24">
                                            <span class="badges hot">hot</span>
                                            <span class="badges hot">hot</span>
                                            <span class="menu-title">Shop</span>
                                            <b class="caret"></b>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="dropdown-menu-inner content-blockbuilder">
                                                <div class="pa-row-container" data-uniqid="jcvrp08y" data-animate="none">
                                                    <div class="container">
                                                        <div class="pa-row-inner">
                                                            <div class="row">
                                                                <div class="pa-column-container col-lg-3 col-md-3 col-sm-12 col-xs-12 " data-uniqid="jcvrp091" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="jdfmgv77">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu   ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Product page</a>
                                                                                    </h3>
                                                                                    <ul class="list-unstyled  ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_default">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product default
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_accordion">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product accordion
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_shawdow">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product shawdow
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-3">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_center">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product center
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-4">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_sticky">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product sticky
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-5">
                                                                                            <a href="?route=product/product&product_id=49&profile=product_sticky_images">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Product sticky images
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pa-column-container col-lg-3 col-md-3 col-sm-12 col-xs-12 " data-uniqid="jcvrpwzc" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="jdfmz1fp">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu hor  ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Product image</a>
                                                                                    </h3>
                                                                                    <ul class="list-inline ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_top">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Preview and Thumbs Top
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_bottom">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Preview and Thumbs Bottom
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_left">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Preview and Thumbs Left
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-3">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_right">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Preview and Thumbs Right
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-4">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_one_column">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Style One Column
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-5">
                                                                                            <a href="?route=product/product&product_id=32&profile=product_two_column">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Style Two Column
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pa-column-container col-lg-3 col-md-3 col-sm-12 col-xs-12 " data-uniqid="jcvrpwzf" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="jef22smh">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu hor  ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Category</a>
                                                                                    </h3>
                                                                                    <ul class="list-inline ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="?route=product/category&path=34&profile=category-default">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Category default
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="?route=product/category&path=34&profile=category-slide">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Category slide
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="?route=product/category&path=34&profile=category-swap">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Category swap
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-3">
                                                                                            <a href="?route=product/category&path=18">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Music Books
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-4">
                                                                                            <a href="?route=product/category&path=25_33">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Science fiction
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-5">
                                                                                            <a href="?route=extension/module/pavflashsale">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Deals
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pa-column-container col-lg-3 col-md-3 col-sm-12 col-xs-12 " data-uniqid="jcvrpwzj" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_single_image_element_wrapper" data-uniqid="jczodrkw">
                                                                            <div class="pa-element-inner pa_single_image_element">
                                                                                <div class="image-item pa_single_image">
                                                                                    <a href="#" class="pa-element pa_single_image">
                                                                                        <div class="effect-v3">
                                                                                            <img class="img-responsive" src="http://demopavothemes.com/oc3/pav_mesa/image/catalog/demo/banners/banner-menu.jpg" alt="banner menu"
                                                                                            />
                                                                                        </div>
                                                                                    </a>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="parent dropdown badges-info aligned-left">
                                        <a class="dropdown-toggle" href="http://demopavothemes.com/oc3/pav_mesa/index.php?route=product/category&amp;path=25">
                                            <span class="badges New">New</span>
                                            <span class="badges New">New</span>
                                            <span class="menu-title">Pages</span>
                                            <b class="caret"></b>
                                        </a>
                                        <div class="dropdown-menu" style="width:500px">
                                            <div class="dropdown-menu-inner content-blockbuilder">
                                                <div class="pa-row-container" data-uniqid="jczpwxas" data-animate="none">
                                                    <div class="container-fullwidth">
                                                        <div class="pa-row-inner">
                                                            <div class="row">
                                                                <div class="pa-column-container col-lg-6 col-md-6 col-sm-6 col-xs-12 " data-uniqid="jczpwxau" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="jdfok5ko">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu hor  ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Footer Layout</a>
                                                                                    </h3>
                                                                                    <ul class="list-inline ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="index.php?route=common/home&profile=demo1">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Footer version 1
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="index.php?route=common/home&profile=demo2">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Footer version 2
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="index.php?route=common/home&profile=demo1">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Footer version 3
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-3">
                                                                                            <a href="index.php?route=common/home&profile=demo4">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Footer version 4
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pa-column-container col-lg-6 col-md-6 col-sm-6 col-xs-12 " data-uniqid="jczpx3kf" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="je5f0954">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu hor  ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Page templates</a>
                                                                                    </h3>
                                                                                    <ul class="list-inline ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="index.php?route=information/information&information_id=4">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                About 1
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="?route=information/information&information_id=14">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                About 2
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="index.php?route=information/information&information_id=15">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Our team
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-3">
                                                                                            <a href="index.php?route=product/special">
                                                                                                <i class="fa fa-long-arrow-right"></i>
                                                                                                Special
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="badges-info">
                                        <a href="?route=extension/module/pavstorelocator">
                                            <span class="badges New">New</span>
                                            <span class="menu-title">Locations</span>
                                        </a>
                                    </li>
                                    <li class="parent dropdown  aligned-left">
                                        <a class="dropdown-toggle" href="?route=extension/pavoblog/archive">
                                            <span class="menu-title">Blog</span>
                                            <b class="caret"></b>
                                        </a>
                                        <div class="dropdown-menu" style="width:400px">
                                            <div class="dropdown-menu-inner content-blockbuilder">
                                                <div class="pa-row-container" data-uniqid="jczu7pdb" data-animate="none">
                                                    <div class="container-fullwidth">
                                                        <div class="pa-row-inner">
                                                            <div class="row">
                                                                <div class="pa-column-container col-lg-6 col-md-6 col-sm-12 col-xs-12 " data-uniqid="jczu7pdd" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="je9eaq0d">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu   ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Single posts</a>
                                                                                    </h3>
                                                                                    <ul class="list-unstyled  ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="index.php?route=extension/pavoblog/single&pavo_post_id=10">
                                                                                                <i class="fa fa-image"></i>
                                                                                                Image
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="index.php?route=extension/pavoblog/single&pavo_post_id=17">
                                                                                                <i class="fa fa-window-restore"></i>
                                                                                                Gallery
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="index.php?route=extension/pavoblog/single&pavo_post_id=16">
                                                                                                <i class="fa fa-film"></i>
                                                                                                Video
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pa-column-container col-lg-6 col-md-6 col-sm-12 col-xs-12 " data-uniqid="jczu7u9c" data-animate="none">
                                                                    <div class="pa-column-inner">
                                                                        <div class="pa-element-container pa_custom_menu_element_wrapper" data-uniqid="je9eaq0g">
                                                                            <div class="pa-element-inner pa_custom_menu_element">

                                                                                <div class="pavo-widget-custom-menu   ">

                                                                                    <h3 class="menu-title">
                                                                                        <a href="">Blog types</a>
                                                                                    </h3>
                                                                                    <ul class="list-unstyled  ">
                                                                                        <li class="custom-menu-item item-0">
                                                                                            <a href="index.php?route=information/information&information_id=11">
                                                                                                <i class="fa fa-th-large"></i>
                                                                                                Blog grid
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-1">
                                                                                            <a href="index.php?route=information/information&information_id=12">
                                                                                                <i class="fa fa-list-alt"></i>
                                                                                                Blog list
                                                                                            </a>
                                                                                        </li>
                                                                                        <li class="custom-menu-item item-2">
                                                                                            <a href="index.php?route=extension/pavoblog/single&pavo_post_id=15">
                                                                                                <i class="fa fa-image"></i>
                                                                                                Blog singe
                                                                                            </a>
                                                                                        </li>
                                                                                    </ul>



                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <a href="index.php?route=information/contact">
                                            <span class="menu-title">Contact</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="offcanvas-bottom"></div>
            </div>
        </div>
    </div>
</div>