<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title" href="/">
                <i class="fa fa-home"></i>
                <span> Trang chủ </span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img class="img-circle profile_img" alt="..." src="https://colorlib.com/polygon/gentelella/images/img.jpg">
            </div>
            <div class="profile_info">
                <span> Chào mừng, </span>
                <h2> John Doe </h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br>

        <!-- sidebar menu -->
        <div class="main_menu_side hidden-print main_menu" id="sidebar-menu">
            <div class="menu_section">
                {{!--
                <h3>Thông tin tài khoản</h3> --}}
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-user-circle"></i> Thông tin tài khoản
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/admin/profile"> Xem thông tin cá nhân </a>
                            </li>
                            <li>
                                <a href="/admin/change-profile"> Thay đổi thông tin cá nhân </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i> Quản lý
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="/admin/author"> Quản lý tác giả </a>
                            </li>
                            <li>
                                <a href="/admin/publisher"> Quản lý nhà xuất bản </a>
                            </li>
                            <li>
                                <a href="/admin/genre"> Quản lý thể loại sách </a>
                            </li>
                            <li>
                                <a href="/admin/book"> Quản lý sách </a>
                            </li>
                            <li>
                                <a href="/admin/bookinstance"> Quản lý sản phẩm </a>
                            </li>
                            <li>
                                <a href="/admin/order"> Quản lý đơn hàng </a>
                            </li>
                            <li>
                                <a href="/admin/account"> Quản lý tài khoản </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a title="" data-original-title="FullScreen" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a title="" data-original-title="Lock" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a title="" href="/admin/logout" data-original-title="Logout" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>