<footer id="footer">
    <hr class="line-bg-body">

    <div class="footer-cpy-right">
        <div class="container">
            <div class="cpy-right-info">
                <h5>© 2016 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn</h5>
                <p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày
                    06/01/2010
                </p>
            </div>
            <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=21201" class="ico-bocongthuong">
                <span class="tikicon icon-bo-cong-thuong"></span>
            </a>
        </div>
    </div>
</footer>