<script>
    preloaderBg = document.getElementById('page_preloader__bg');
    preloaderImg = document.getElementById('page_preloader__img');
    window.addEventListener('load', function () {
        preloaderBg.className += " off";
        preloaderImg.className += " off";
    });
    window.addEventListener('beforeunload', function () {
        preloaderBg.className -= " off";
        preloaderImg.className -= " off";
    });
</script>
<script src="/javascripts/shop.js"></script>
<script src="/javascripts/assets.js"></script>
<link rel="stylesheet" href="/stylesheets/style.scss.css">
<script>
    var loadDeferredStyles = function () {
        var addStylesNode = document.getElementById('deferred_styles');
        var replacement = document.createElement('div');
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>
<script id="shopify-features" type="application/json">{"accessToken":"8842f28cdcb38a345c426e199215435a","betas":["smart-payment-buttons-experiment-mpo-clarity"],"domain":"theme356-books.myshopify.com","shopId":23233807,"smart_payment_buttons_url":"https:\/\/cdn.shopifycloud.com\/payment-sheet\/assets\/latest\/spb.js"}</script>
<script>var Shopify = Shopify || {};
    Shopify.shop = "theme356-books.myshopify.com";
    Shopify.theme = { "name": "theme356", "id": 195723787, "theme_store_id": null, "role": "main" };
    Shopify.theme.handle = "null";
    Shopify.theme.style = { "id": null, "handle": null };
</script>
<script id="__st">var __st = { "a": 23233807, "offset": -14400, "reqid": "d198dd4b-3ac3-49ca-b303-a0587d4b4ce3", "pageurl": "theme356-books.myshopify.com\/", "u": "88eb212ad25e", "p": "home" };</script>
<script>window.ShopifyPaypalV4VisibilityTracking = true;</script>
<script>window.Shopify = window.Shopify || {};
    window.Shopify.Checkout = window.Shopify.Checkout || {};
    window.Shopify.Checkout.apiHost = "theme356-books.myshopify.com";
    window.ShopifyPay = window.ShopifyPay || {};
    window.ShopifyPay.acceleratedFlowIncontext = false;
    window.ShopifyPay.apiHost = "pay.shopify.com";
    window.ShopifyPay.apiToken = "Ynk4WnlXSUR6VXpRUUJLRzlWMjh3MlFXemVSbmoweXh5cndCUlF2UXVicjNUdlArK0E5aDdOQlZiNFYwM3N1Qy0tTVRnVzJuL3RoUW8zS05sMi9SZGc1UT09--ef6a594691601d2da27b64fa3b0b9e7c15eb7c03";
    window.ShopifyPay.requestHost = "theme356-books.myshopify.com"
    window.ShopifyPay.sheetStyleSheetUrl = "\/\/cdn.shopify.com\/s\/assets\/shared\/sheet\/main-9591cdb8fc78ba1acaca189815e8d30f2513988b8b83f4a84c83115fcae19d76.css";
</script>
<script>
    window.ShopifyAnalytics = window.ShopifyAnalytics || {};
    window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
    window.ShopifyAnalytics.meta.currency = 'USD';
    var meta = { "page": { "pageType": "home" } };
    for (var attr in meta) {
        window.ShopifyAnalytics.meta[attr] = meta[attr];
    }
</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function () {
    };
</script>
<script class="analytics">
    (function () {
        var customDocumentWrite = function (content) {
            var jquery = null;
            if (window.jQuery) {
                jquery = window.jQuery;
            } else if (window.Checkout && window.Checkout.$) {
                jquery = window.Checkout.$;
            }
            if (jquery) {
                jquery('body').append(content);
            }
        };
        var trekkie = window.ShopifyAnalytics.lib = window.trekkie = window.trekkie || [];
        if (trekkie.integrations) {
            return;
        }
        trekkie.methods = [
            'identify',
            'page',
            'ready',
            'track',
            'trackForm',
            'trackLink'
        ];
        trekkie.factory = function (method) {
            return function () {
                var args = Array.prototype.slice.call(arguments);
                args.unshift(method);
                trekkie.push(args);
                return trekkie;
            };
        };
        for (var i = 0; i < trekkie.methods.length; i++) {
            var key = trekkie.methods[i];
            trekkie[key] = trekkie.factory(key);
        }
        trekkie.load = function (config) {
            trekkie.config = config;
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.onerror = function (e) {
                (new Image()).src = '//v.shopify.com/internal_errors/track?error=trekkie_load';
            };
            script.async = true;
            script.src = 'https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1';
            var first = document.getElementsByTagName('script')[0];
            first.parentNode.insertBefore(script, first);
        };
        trekkie.load(
            { "Trekkie": { "appName": "storefront", "development": false, "defaultAttributes": { "shopId": 23233807, "isMerchantRequest": null, "themeId": 195723787, "themeCityHash": 5855831490552317750 } }, "Performance": { "navigationTimingApiMeasurementsEnabled": true, "navigationTimingApiMeasurementsSampleRate": 1.0 }, "Session Attribution": {} }
        );
        var loaded = false;
        trekkie.ready(function () {
            if (loaded) return;
            loaded = true;
            window.ShopifyAnalytics.lib = window.trekkie;
            var originalDocumentWrite = document.write;
            document.write = customDocumentWrite;
            try { window.ShopifyAnalytics.merchantGoogleAnalytics.call(this); } catch (error) { };
            document.write = originalDocumentWrite;
            window.ShopifyAnalytics.lib.page(
                null,
                { "pageType": "home" }
            );
        });
        var eventsListenerScript = document.createElement('script');
        eventsListenerScript.async = true;
        eventsListenerScript.src = "//cdn.shopify.com/s/assets/shop_events_listener-f2c5800305098f0ebebdfa7d980c9abf56514c46d5305e97a7c476f7c9116163.js";
        document.getElementsByTagName('head')[0].appendChild(eventsListenerScript);
    })();
</script>
<script defer="defer" integrity="sha256-4/UdRw/SLz+8D9iLds5Z5TQVROs+leoIGgk7CSiitoM=" crossorigin="anonymous" src="//cdn.shopify.com/s/assets/storefront/express_buttons-e3f51d470fd22f3fbc0fd88b76ce59e5341544eb3e95ea081a093b0928a2b683.js"></script>
<script defer="defer" integrity="sha256-NfqRkSQwKw0JfNupCky6Zxtoijw8YUA8km/3gYu7kY8=" crossorigin="anonymous" src="//cdn.shopify.com/s/assets/storefront/features-35fa919124302b0d097cdba90a4cba671b688a3c3c61403c926ff7818bbb918f.js"></script>
<script id="sections-script" defer="defer" data-sections="index-image-with-text-overlay,header" src="//cdn.shopify.com/s/files/1/2323/3807/t/2/compiled_assets/scripts.js?111211030896101798"></script>
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/23233807/digital_wallets/dialog">
<iframe src="/23233807/digital_wallets/dialog" scrolling="no" tabindex="-1" aria-hidden="true" style="position: fixed; top: 0px; left: 0px; z-index: 99999; height: 0px; width: 0px; border: 0px;"></iframe>
<div>
    <link rel="stylesheet" href="/stylesheets/responsive.scss.css">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=cyrillic" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</div>
<iframe src="/23233807/digital_wallets/dialog" scrolling="no" tabindex="-1" aria-hidden="true" style="position: fixed; top: 0px; left: 0px; z-index: 99999; height: 0px; width: 0px; border: 0px;"></iframe>
