<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/stylesheets/errorCustom.css">
  <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
  <script src="/javascripts/errorCustom.js"></script>
</head>

<body>
 {{{ body }}}
</body>

</html>
