<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js windows chrome desktop page--no-banner page--logo-main page--show page--show card-fields">

<head>
    {{> headLayoutCheckout }}
</head>

<body>
    {{{ body }}}
    {{> tailLayoutCheckout }}
</body>
</html>