<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" class="ltr" lang="en">
<!--<![endif]-->

<head>
    {{> headLayoutProduct }}
</head>

<body class="common-home page-home layout-fullwidth" data-gr-c-s-loaded="true" style="overflow: auto; position: static;">
    <div class="page_wrapper">
        {{> splashLayoutProduct }}
        {{> headerLayoutProduct }}
        <div class="page_container">
            {{{ body }}} 
            {{> footerLayoutProduct }}
        </div>
       
    </div>
    {{> tailLayoutProduct }}

    <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function() {
            var mf = document.createElement("script");
            mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/d6198d13-0d8b-45f3-8721-5cd884e27688.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
</body>

</html>