<!DOCTYPE html>

<html lang="vi">

<head>
    {{> headLayoutAdmin }}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {{> sidebarLayoutAdmin }}
            {{> headerLayoutAdmin }}
            {{{ body }}}
            {{> footerLayoutAdmin }}
        </div>
    </div>
    {{> tailLayoutAdmin }}
</body>

</html>