<!DOCTYPE html>
<html>

<head>
  {{> headLayoutUser }}
</head>

<body class='tiki-product'>
  {{> headerLayoutUser}}
  <div class="wrap">
    <div class="container">
      {{{body}}} 
    </div>
  </div>
  {{> tailLayoutUser}}
</body>

</html>