<!DOCTYPE html>
<html>

<head>
  {{> headLayoutUser }}
</head>

<body class='tiki-categories'>
  {{> headerLayoutUser}}
  <div class="wrap">
    <div class="container">
      {{> sideBarLayoutUser}} 
      {{{body}}}
    </div>
  </div>
  {{> tailLayoutUser}}
</body>

</html>