<!DOCTYPE html>

<html lang="vi">

<head>
    {{> headLayoutUser }}
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            {{> sidebarLayoutUser }}
            {{> headerLayoutUser }}
            {{{ body }}}
            {{> footerLayoutUser }}
        </div>
    </div>
    {{> tailLayoutUser }}
</body>

</html>