<div class="main_content ">
    <div id="shopify-section-template-about-us" class="shopify-section section section_template section_template__about">
        <div class="container">
            <h1 class="page_heading">Giới thiệu</h1>
            <div class="page_content">
                <div class="page_content__block page_content__photos">
                    <h2 class="block_title">Các thành viên</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_img">
                                    <img src="https://taka97.github.io/member/1512169/image/profile1512169.jpg" alt="">
                                </div>
                                <h3 class="item_title">Đinh Xuân Hiệp</h3>
                                <div class="item_text">
                                    <p>Senior salesman with 15 years of experience. He knows everything about the products he
                                        offers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_img">
                                    <img class="avt_img" src="https://taka97.github.io/member/1512174/image/avatar1512174.jpg" alt="">
                                </div>
                                <h3 class="item_title">Hồ Văn Hoàng</h3>
                                <div class="item_text">
                                    <p>Mega positive shop assistant always ready to help you make the right choice and charm
                                        you with a smile.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_img">
                                    <img src="https://taka97.github.io/member/1512170/image/avatar.jpg" alt="">
                                </div>
                                <h3 class="item_title">Võ Sơn Hiệp</h3>
                                <div class="item_text">
                                    <p>Wholesale manager. Contact him if you want to buy a batch of the products offered at
                                        our store.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="page_content__block page_content__text">
                    <h2 class="block_title">Phục vụ các yêu cầu của bạn, xử lý nhu cầu của bạn một cách cẩn thận</h2>
                    <div class="block_content rte">
                        <p>Cửa hàng sách của chúng tôi không chỉ là một nhà bán lẻ trực tuyến thông thường. Chúng tôi mong muốn
                            bán sản phẩm chất lượng hàng đầu mà còn mang đến cho khách hàng trải nghiệm mua sắm trực tuyến
                            tích cực. Quên về việc đấu tranh để làm mọi thứ cùng một lúc: chăm sóc gia đình, điều hành doanh
                            nghiệp, dắt chó, dọn dẹp nhà cửa, mua sắm, v.v. Mua hàng hóa bạn cần hàng ngày hoặc chỉ trong
                            vài cú click chuột, tùy thuộc vào thiết bị bạn sử dụng để truy cập Internet. Chúng tôi làm việc
                            để làm cho cuộc sống của bạn thú vị hơn.
                        </p>
                    </div>
                </div>
                <div class="page_content__block page_content__icons">
                    <h2 class="block_title">Store events</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <h3 class="item_title">Hiển thị nội dung tích hợp cái biểu tượng trực quan</h3>
                                <div class="item_text">
                                    <p>Dễ dàng nhận biết các danh mục. Các cuốn sách được cung cấp với xếp hạng sao sẽ giúp
                                        người mua do dự quyết định. Hơn nữa, chức năng tìm kiếm trang web của chúng tôi sẽ
                                        giúp bạn biết chính xác những gì bạn đang tìm kiếm hoặc sử dụng một loạt các bộ lọc
                                        khác nhau (tìm kiếm nâng cao) sẽ tiết kiệm đáng kể thời gian của bạn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <h3 class="item_title">Chất lượng sách cao nhất</h3>
                                <div class="item_text">
                                    <p>Chúng tôi đảm bảo chất lượng cao nhất của các nhà xuất bản sách. Bên cạnh đó, tất cả
                                        các mặt hàng chúng tôi bán vượt qua kiểm soát chất lượng kỹ lưỡng, vì vậy không có
                                        đặc điểm không phù hợp có thể thoát khỏi mắt của các chuyên gia của chúng tôi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="item_icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <h3 class="item_title">Trang web đa nền tảng</h3>
                                <div class="item_text">
                                    <p>Chúng tôi mong muốn đem đến một website có giao diện tương thích với mọi thiết bị. Người
                                        dung có thể dễ dàng mua sách dù truy cập trên máy tính, điện thoại, máy tính bảng
                                        dựa trên giao diện tùy biến theo kích thước thiết bị người dùng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>