<div class="container">
	<div class="row">
		<div class="main_content sidebar_on col-sm-9 col-sm-push-3">
			<div id="shopify-section-template-collection" class="shopify-section section_template section_template__collection">
				<h1 class="page_heading">Belles-lettres</h1>
				<div class="collection_desc rte">
					Just remember that special atmosphere of solitude in the library or in the old book-store, it seemed that imponderable scent
					of rational identity is in the air... The unique smell of old and new pages, soft cover and so on. Yeah, they are worth
					our admiring. But those times are long gone and we live in 21st century, and the most revolutionary thing that had happened
					is that books have lost their natural view. Books became more available. On-line book stores can offer you a great assortment
					of books. Can you imagine a world of knowledge without limits? You can get everything you want and all you have to do
					is just visit our store. We have tremendous variety of products; here you can find the world famous bestsellers and
					the books of unknown authors.
				</div>
				<div class="button_filters">
					<ul>
						<li class="active">
							<a href="/collections/belles-lettres">All</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/belles-lettres" title="Show products matching tag Belles-lettres">Belles-lettres</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/books" title="Show products matching tag Books">Books</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/childrens-books" title="Show products matching tag Children's books">Children's books</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/classic" title="Show products matching tag Classic">Classic</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/detective-stories" title="Show products matching tag Detective stories">Detective stories</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/history" title="Show products matching tag History">History</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/poetry" title="Show products matching tag Poetry">Poetry</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/romance" title="Show products matching tag Romance">Romance</a>
						</li>
						<li>
							<a href="/collections/belles-lettres/science-fiction" title="Show products matching tag Science fiction">Science fiction</a>
						</li>
					</ul>
				</div>
				<div class="product_options">
					<ul class="product_view">
						<li id="view_grid" data-view="grid" class="active">
							<i class="fa fa-th" aria-hidden="true"></i>
						</li>
						<li id="view_list" data-view="list">
							<i class="fa fa-th-list" aria-hidden="true"></i>
						</li>
					</ul>
					<div class="product_options__sort">
						<label for="sort_by_select">Sort products:</label>
						<select id="sort_by_select">
							<option value="manual">Featured</option>
							<option value="best-selling">Best Selling</option>
							<option value="title-ascending">Name: A – Z</option>
							<option value="title-descending">Name: Z – A</option>
							<option value="price-ascending">Price: low to high</option>
							<option value="price-descending">Price: high to low</option>
							<option value="created-ascending">Oldest to newest</option>
							<option value="created-descending">Newest to oldest</option>
						</select>
					</div>
					<div class="product_options__number">
						<label for="products_number_select">Show:</label>
						<select id="products_number_select">
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="9">9</option>
							<option value="12">12</option>
						</select>
					</div>
					<div class="clearfix"></div>
				</div>
				<script>
					// theme.paginationCurrent = 1
					theme.productNumber = 6;
				</script>
				<div class="row product_listing__main" id="product_listing__sorted">
					<div class="col-sm-4 item_3_1 item_2_1">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/the-adventure-collection">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_1_270x270_crop_center.png?v=1504250201"
									 alt="The Adventure Collection" style="opacity: 1;">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_2_270x270_crop_center.png?v=1504250201"
									 alt="The Adventure Collection" style="opacity: 0;">
									<span class="product_badge new">New!</span>
									<span class="product_badge sale">–23%</span>
								</a>
								<a class="quick_view_btn" href="/products/the-adventure-collection" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/the-adventure-collection">The Adventure Collection</a>
								</p>
								<p class="product_desc product_desc__short">Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives know...</p>
								<p class="product_desc product_desc__long">Well, reading books as a hobby was always a noble, pleasant and very useful kind of activity. It gives knowledge,
									exerts on the process of development of your personality. For a long period of time books were very rare and because
									of such confines only some “esoteric” people could afford them. And you know what? Books always have some notes
									of mysticism. Just remember that special atmosphere of solitude in the library or in the old book-store, it seemed
									that imponderable scent of rational ide...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$20.00">$20.00</span>
									<span class="money_like">–</span>
									<span class="money" data-currency-usd="$24.00">$24.00</span>
									<span class="money_variants">(4 variants)</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<a class="btn btn_options" href="/products/the-adventure-collection">Choose variant</a>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-4  ">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/the-hobbit-and-the-lord-of-the-rings">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_1_270x270_crop_center.png?v=1504250252"
									 alt="The Hobbit And The Lord Of The Rings" style="opacity: 1;">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_2_270x270_crop_center.png?v=1504250252"
									 alt="The Hobbit And The Lord Of The Rings" style="opacity: 0;">
									<span class="product_badge new">New!</span>
								</a>
								<a class="quick_view_btn" href="/products/the-hobbit-and-the-lord-of-the-rings" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/the-hobbit-and-the-lord-of-the-rings">The Hobbit And The Lord Of The Rings</a>
								</p>
								<p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very ...</p>
								<p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very noble
									and it has many traditions. That is why we have such a great number of devoted clients all over the country. It
									is a great pleasure to give people the knowledge and the power of the intelligence. We all must remember that our
									forefathers didn’t have such unlimited abilities as we have. The diversity of our products is unbelievable because
									we have a vast book collection - all genres...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$50.00">$50.00</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<input type="hidden" name="id" value="50971280395">
										<button class="btn btn-cart" type="submit">Add to cart</button>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-4  item_2_1">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/the-complete-novels-of-jane-austen">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_complete_novels_of_jane_austen_1_270x270_crop_center.png?v=1504250209"
									 alt="The Complete Novels Of Jane Austen">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_complete_novels_of_jane_austen_2_270x270_crop_center.png?v=1504250209"
									 alt="The Complete Novels Of Jane Austen">
									<span class="product_badge new">New!</span>
								</a>
								<a class="quick_view_btn" href="/products/the-complete-novels-of-jane-austen" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/the-complete-novels-of-jane-austen">The Complete Novels Of Jane Austen</a>
								</p>
								<p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very ...</p>
								<p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very noble
									and it has many traditions. That is why we have such a great number of devoted clients all over the country. It
									is a great pleasure to give people the knowledge and the power of the intelligence. We all must remember that our
									forefathers didn’t have such unlimited abilities as we have. The diversity of our products is unbelievable because
									we have a vast book collection - all genres...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$38.00">$38.00</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<input type="hidden" name="id" value="50971203211">
										<button class="btn btn-cart" type="submit">Add to cart</button>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-4 item_3_1 ">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/fifty-shades-trilogy-fifty-shades-of-grey-fifty-shades-darker-fifty-shades-freed-3-volume-boxed-set-by-e-l-james">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/fifty_shades_trilogy_fifty_shades_of_grey_fifty_shades_darker_fifty_shades_freed_3_volume_boxed_set_by_e_l_james_1_270x270_crop_center.png?v=1504250123"
									 alt="Fifty Shades Trilogy Fifty Shades Of Grey Fifty Shades Darker Fifty Shades Freed 3 volume Boxed Set By E L James">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/fifty_shades_trilogy_fifty_shades_of_grey_fifty_shades_darker_fifty_shades_freed_3_volume_boxed_set_by_e_l_james_2_270x270_crop_center.png?v=1504250123"
									 alt="Fifty Shades Trilogy Fifty Shades Of Grey Fifty Shades Darker Fifty Shades Freed 3 volume Boxed Set By E L James">
									<span class="product_badge new">New!</span>
								</a>
								<a class="quick_view_btn" href="/products/fifty-shades-trilogy-fifty-shades-of-grey-fifty-shades-darker-fifty-shades-freed-3-volume-boxed-set-by-e-l-james"
								 title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/fifty-shades-trilogy-fifty-shades-of-grey-fifty-shades-darker-fifty-shades-freed-3-volume-boxed-set-by-e-l-james">Fifty Shades Trilogy Fifty Shades Of Grey Fifty...</a>
								</p>
								<p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very ...</p>
								<p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very noble
									and it has many traditions. That is why we have such a great number of devoted clients all over the country. It
									is a great pleasure to give people the knowledge and the power of the intelligence. We all must remember that our
									forefathers didn’t have such unlimited abilities as we have. The diversity of our products is unbelievable because
									we have a vast book collection - all genres...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$88.00">$88.00</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<input type="hidden" name="id" value="50971060939">
										<button class="btn btn-cart" type="submit">Add to cart</button>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-4  item_2_1">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/nora-roberts-boonsboro-trilogy-boxed-set">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/nora_roberts_boonsboro_trilogy_boxed_set_1_270x270_crop_center.png?v=1504250176"
									 alt="Nora Roberts Boonsboro Trilogy Boxed Set" style="opacity: 1;">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/nora_roberts_boonsboro_trilogy_boxed_set_2_270x270_crop_center.png?v=1504250176"
									 alt="Nora Roberts Boonsboro Trilogy Boxed Set" style="opacity: 0;">
									<span class="product_badge new">New!</span>
									<span class="product_badge sale">–13%</span>
								</a>
								<a class="quick_view_btn" href="/products/nora-roberts-boonsboro-trilogy-boxed-set" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/nora-roberts-boonsboro-trilogy-boxed-set">Nora Roberts Boonsboro Trilogy Boxed Set</a>
								</p>
								<p class="product_desc product_desc__short">Our business is very noble and it has many traditions Just remember that special atmosphere of solitude in ...</p>
								<p class="product_desc product_desc__long">Our business is very noble and it has many traditions Just remember that special atmosphere of solitude in the library
									or in the old book-store, it seemed that imponderable scent of rational identity is in the air... The unique smell
									of old and new pages, soft cover and so on. Yeah, they are worth our admiring. But those times are long gone and
									we live in 21st century, and the most revolutionary thing that had happened is that books have lost their natural
									view. Books became more available. T...
								</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$70.00">$70.00</span>
									<span class="money_like">–</span>
									<span class="money" data-currency-usd="$75.00">$75.00</span>
									<span class="money_variants">(3 variants)</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<a class="btn btn_options" href="/products/nora-roberts-boonsboro-trilogy-boxed-set">Choose variant</a>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-sm-4  ">
						<div class="product_item">
							<div class="product_img">
								<a class="img_change" href="/collections/belles-lettres/products/nancy-drew-starter-set">
									<img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/nancy_drew_starter_set_1_270x270_crop_center.png?v=1504250167"
									 alt="Nancy Drew Starter Set">
									<img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/nancy_drew_starter_set_2_270x270_crop_center.png?v=1504250167"
									 alt="Nancy Drew Starter Set">
									<span class="product_badge new">New!</span>
								</a>
								<a class="quick_view_btn" href="/products/nancy-drew-starter-set" title="Quick view">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</a>
							</div>
							<div class="product_info">
								<p class="product_name">
									<a href="/collections/belles-lettres/products/nancy-drew-starter-set">Nancy Drew Starter Set</a>
								</p>
								<p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very ...</p>
								<p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence Our business is very noble
									and it has many traditions. That is why we have such a great number of devoted clients all over the country. It
									is a great pleasure to give people the knowledge and the power of the intelligence. We all must remember that our
									forefathers didn’t have such unlimited abilities as we have. The diversity of our products is unbelievable because
									we have a vast book collection - all genres...</p>
								<p class="product_price">
									<span class="money" data-currency-usd="$44.00">$44.00</span>
								</p>
								<div class="product_links">
									<form method="post" action="/cart/add">
										<input type="hidden" name="id" value="50971129355">
										<button class="btn btn-cart" type="submit">Add to cart</button>
									</form>
									<a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="pagination">
					<p>1 – 6 product(s) of 10</p>
					<ul>
						<li class="pagination_prev">
							<span>
								<i class="fa fa-angle-left" aria-hidden="true"></i>Previous</span>
						</li>
						<li class="pagination_current">
							<span>1</span>
						</li>
						<li>
							<a href="/collections/belles-lettres?page=2">2</a>
						</li>
						<li class="pagination_next">
							<a href="/collections/belles-lettres?page=2">Next
								<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-sm-pull-9">
			<div id="shopify-section-sidebar" class="shopify-section page_sidebar">
				<div class="sidebar">
					<div class="sidebar_widget sidebar_widget__collections">
						<h3 class="widget_header">Collections</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a class="active" href="/collections/belles-lettres">Belles-lettres</a>
								</li>
								<li>
									<a href="/collections/childrens-books">Childrens books</a>
								</li>
								<li>
									<a href="/collections/classic">Classic</a>
								</li>
								<li>
									<a href="/collections/detective-stories">Detective stories</a>
								</li>
								<li>
									<a href="/collections/history">History</a>
								</li>
								<li>
									<a href="/collections/poetry">Poetry</a>
								</li>
								<li>
									<a href="/collections/romance">Romance</a>
								</li>
								<li>
									<a href="/collections/science-fiction">Science fiction</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar_widget sidebar_widget__types">
						<h3 class="widget_header">Product types</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a href="/collections/types?q=New%20Arrivals">New Arrivals</a>
								</li>
								<li>
									<a href="/collections/types?q=School%20Books">School Books</a>
								</li>
								<li>
									<a href="/collections/types?q=Used%20Books">Used Books</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar_widget sidebar_widget__vendors">
						<h3 class="widget_header">Product vendors</h3>
						<div class="widget_content">
							<ul class="list_links">
								<li>
									<a href="/collections/vendors?q=Bookstore">Bookstore</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="sidebar_widget sidebar_widget__products">
						<h3 class="widget_header">Products</h3>
						<div class="widget_content">
							<ul class="list_products">
								<li class="product">
									<div class="product_img">
										<a href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">
											<img src="//cdn.shopify.com/s/files/1/2323/3807/products/outlander_book_series_by_diana_gabaldon_1_150x150_crop_center.png?v=1504250185"
											 alt="Outlander Book Series By Diana Gabaldon">
										</a>
									</div>
									<div class="product_info">
										<div class="product_name">
											<a href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">Outlander Book Series By Di...</a>
										</div>
										<div class="product_price">
											<span class="money" data-currency-usd="$28.00">$28.00</span>
											<span class="money compare-at-price" data-currency-usd="$35.00">$35.00</span>
										</div>
										<div class="product_links">
											<a class="btn" href="/collections/belles-lettres/products/outlander-book-series-by-diana-gabaldon">View</a>
										</div>
									</div>
								</li>
								<li class="product">
									<div class="product_img">
										<a href="/collections/belles-lettres/products/the-hobbit-and-the-lord-of-the-rings">
											<img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_1_150x150_crop_center.png?v=1504250252"
											 alt="The Hobbit And The Lord Of The Rings">
										</a>
									</div>
									<div class="product_info">
										<div class="product_name">
											<a href="/collections/belles-lettres/products/the-hobbit-and-the-lord-of-the-rings">The Hobbit And The Lord Of ...</a>
										</div>
										<div class="product_price">
											<span class="money" data-currency-usd="$50.00">$50.00</span>
										</div>
										<div class="product_links">
											<a class="btn" href="/collections/belles-lettres/products/the-hobbit-and-the-lord-of-the-rings">View</a>
										</div>
									</div>
								</li>
								<li class="product">
									<div class="product_img">
										<a href="/collections/belles-lettres/products/penguin-classics-penguins-poems-for-love">
											<img src="//cdn.shopify.com/s/files/1/2323/3807/products/penguin_classics_penguins_poems_for_love_1_150x150_crop_center.png?v=1504250192"
											 alt="Penguin Classics Penguins Poems For Love">
										</a>
									</div>
									<div class="product_info">
										<div class="product_name">
											<a href="/collections/belles-lettres/products/penguin-classics-penguins-poems-for-love">Penguin Classics Penguins P...</a>
										</div>
										<div class="product_price">
											<span class="money" data-currency-usd="$18.00">$18.00</span>
										</div>
										<div class="product_links">
											<a class="btn" href="/collections/belles-lettres/products/penguin-classics-penguins-poems-for-love">View</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>