            <div class="main_content ">
                <!-- BEGIN content_for_index -->
                <div id="shopify-section-1506525167084" class="shopify-section section section_homepage section_banner-with-text-overlay">
                    <div class="section_wrap flexible_block__large">
                        <div class="img_placeholder__wrap img_placeholder__large" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/files/img-bnr_02_2050x588.jpg?v=1506525589 );"></div>
                        <div class="container">
                            <div class="section_txt">
                                    <div class="cnt_wrap">
                                        <h2>BOOKSTORE .COM</h2>
                                        <h3>BEST</h3>
                                        <h4>BOOKS STORE</h4>
                                        <h5>SUMMER ESCAPE SALE</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-1506579268158" class="shopify-section section section_homepage section_custom-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6 col_item item_2_1">
                                <div class="custom_content__item item_text">
                                    <div class="item_text item_text__left">
                                        <h4 class="item_text__title">WELCOME TO BOOKSTORE.COM</h4>
                                        <div class="item_text__content">
                                            <p>We have the biggest bestsellers to the hardest-to-find, out-of-print rarities
                                                brought to you by thousands of Booksellers around the world.
                                                <br>So look around and let us help you find your next favorite book.</p>
                                            <p></p>
                                            <p></p>
                                            <p></p>
                                            <p></p>
                                        </div>
                                        <a href="/collections" class="btn">READ MORE
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col_item ">
                                <div class="custom_content__item item_text">
                                    <div class="item_text item_text__left">
                                        <h4 class="item_text__title">SAVE 50% OFF</h4>
                                        <div class="item_text__content">
                                            <p>Whether you are looking for a special book, recording, album, cassette, CD, or
                                                even computer software, we will do our best to secure it for you if we do
                                                not have it in stock.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-1506599742800" class="shopify-section section section_homepage section_collection_list">
                    <div class="container">
                        <div class="col-xs-6 col_item item_2_1">
                            <div class="custom_content__item item_advantages">
                                <div class="index_item__advantages">
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__1">
                                            <i class="advantages_icon thin-icon-love"></i>
                                        </div>
                                        <a href="/collections/romance" class="advantages_btn btn_fon">Romance</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__2">
                                            <i class="advantages_icon thin-icon-cloud-charge"></i>
                                        </div>
                                        <a href="/collections/detective-stories" class="advantages_btn btn_fon">Crime &amp; Thriller</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__3">
                                            <i class="advantages_icon thin-icon-star"></i>
                                        </div>
                                        <a href="/collections/childrens-books" class="advantages_btn btn_fon">Children &amp; Young Adult</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__4">
                                            <i class="advantages_icon thin-icon-satelite"></i>
                                        </div>
                                        <a href="/collections/science-fiction" class="advantages_btn btn_fon">Sci-fi &amp; Fantas</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__5">
                                            <i class="advantages_icon thin-icon-checklist"></i>
                                        </div>
                                        <a href="/collections/belles-lettres" class="advantages_btn btn_fon">Business &amp; Economics</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__6">
                                            <i class="advantages_icon thin-icon-cup"></i>
                                        </div>
                                        <a href="/collections/history" class="advantages_btn btn_fon">Biographies &amp; Memoirs</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__7">
                                            <i class="advantages_icon thin-icon-attachment"></i>
                                        </div>
                                        <a href="/collections/poetry" class="advantages_btn btn_fon">Indian Writing</a>
                                    </div>
                                    <div class="advantages_item col-sm-6">
                                        <div class="circle-bg circle-bg__8">
                                            <i class="advantages_icon thin-icon-globe"></i>
                                        </div>
                                        <a href="/collections/classic" class="advantages_btn btn_fon">Study Aids &amp; Exam Prep</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col_item ">
                            <div class="custom_content__item item_image">
                                <div class="row">
                                    <div class="container">
                                        <img src="//cdn.shopify.com/s/files/1/2323/3807/files/bnr_07_27b0064b-1b4f-47d0-9f3f-187b6bca65c8_1036x472.jpg?v=1506603035">
                                        <div class="section_txt">
                                            <div class="cnt_wrap">
                                                <h2>super sale!</h2>
                                                <h3>Get an extra 15% off</h3>
                                                <h4>your first order</h4>
                                                <a href="/collections/belles-lettres" class="btn btn_inverted">READ MORE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-1478270037550" class="shopify-section section section_homepage section_featured-products">
                    <div class="container">
                        <h2 class="section_heading">Featured products</h2>
                        <div class="row product_listing__main">
                            <div class="col-xs-3 item_4_1 item_2_1">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/the-hobbit-and-the-lord-of-the-rings">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_1_270x270_crop_top.png?v=1504250252"
                                                alt="The Hobbit And The Lord Of The Rings">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hobbit_and_the_lord_of_the_rings_2_270x270_crop_top.png?v=1504250252"
                                                alt="The Hobbit And The Lord Of The Rings">
                                            <span class="product_badge new">New!</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/the-hobbit-and-the-lord-of-the-rings" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/the-hobbit-and-the-lord-of-the-rings">The Hobbit And The Lord Of The Rings</a>
                                        </p>
                                        <p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence
                                            Our business is very ...</p>
                                        <p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence
                                            Our business is very noble and it has many traditions. That is why we have such
                                            a great number of devoted clients all over the country. It is a great pleasure
                                            to give people the knowledge and the power of the intelligence. We all must remember
                                            that our forefathers didn’t have such unlimited abilities as we have. The diversity
                                            of our products is unbelievable because we have a vast book collection - all
                                            genres...
                                        </p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$50.00">$50.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <input type="hidden" name="id" value="50971280395">
                                                <button class="btn btn-cart" type="submit">Add to cart</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  ">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/the-complete-sherlock-holmes">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_complete_sherlock_holmes_1_270x270_crop_top.png?v=1504250218"
                                                alt="The Complete Sherlock Holmes" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_complete_sherlock_holmes_2_270x270_crop_top.png?v=1504250218"
                                                alt="The Complete Sherlock Holmes" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                            <span class="product_badge sale">–11%</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/the-complete-sherlock-holmes" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/the-complete-sherlock-holmes">The Complete Sherlock Holmes</a>
                                        </p>
                                        <p class="product_desc product_desc__short">Our business is very noble and it has many traditions Just remember that special
                                            atmosphere of solitude in ...</p>
                                        <p class="product_desc product_desc__long">Our business is very noble and it has many traditions Just remember that special
                                            atmosphere of solitude in the library or in the old book-store, it seemed that
                                            imponderable scent of rational identity is in the air... The unique smell of
                                            old and new pages, soft cover and so on. Yeah, they are worth our admiring. But
                                            those times are long gone and we live in 21st century, and the most revolutionary
                                            thing that had happened is that books have lost their natural view. Books became
                                            more available. T...
                                        </p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$80.00">$80.00</span>
                                            <span class="money_like">–</span>
                                            <span class="money" data-currency-usd="$85.00">$85.00</span>
                                            <span class="money_variants">(3 variants)</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <a class="btn btn_options" href="/products/the-complete-sherlock-holmes">Choose variant</a>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  item_2_1">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/the-adventure-collection">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_1_270x270_crop_top.png?v=1504250201"
                                                alt="The Adventure Collection" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_2_270x270_crop_top.png?v=1504250201"
                                                alt="The Adventure Collection" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                            <span class="product_badge sale">–23%</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/the-adventure-collection" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/the-adventure-collection">The Adventure Collection</a>
                                        </p>
                                        <p class="product_desc product_desc__short">Well, reading books as a hobby was always a noble, pleasant and very useful kind
                                            of activity. It gives know...</p>
                                        <p class="product_desc product_desc__long">Well, reading books as a hobby was always a noble, pleasant and very useful kind
                                            of activity. It gives knowledge, exerts on the process of development of your
                                            personality. For a long period of time books were very rare and because of such
                                            confines only some “esoteric” people could afford them. And you know what? Books
                                            always have some notes of mysticism. Just remember that special atmosphere of
                                            solitude in the library or in the old book-store, it seemed that imponderable
                                            scent of rational ide...</p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$20.00">$20.00</span>
                                            <span class="money_like">–</span>
                                            <span class="money" data-currency-usd="$24.00">$24.00</span>
                                            <span class="money_variants">(4 variants)</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <a class="btn btn_options" href="/products/the-adventure-collection">Choose variant</a>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  ">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/outlander-book-series-by-diana-gabaldon">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/outlander_book_series_by_diana_gabaldon_1_270x270_crop_top.png?v=1504250185"
                                                alt="Outlander Book Series By Diana Gabaldon" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/outlander_book_series_by_diana_gabaldon_2_270x270_crop_top.png?v=1504250185"
                                                alt="Outlander Book Series By Diana Gabaldon" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                            <span class="product_badge sale">–20%</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/outlander-book-series-by-diana-gabaldon" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/outlander-book-series-by-diana-gabaldon">Outlander Book Series By Diana Gabaldon</a>
                                        </p>
                                        <p class="product_desc product_desc__short">On-line book stores can offer you a great assortment of books. Well, reading books
                                            as a hobby was always a ...</p>
                                        <p class="product_desc product_desc__long">On-line book stores can offer you a great assortment of books. Well, reading books
                                            as a hobby was always a noble, pleasant and very useful kind of activity. It
                                            gives knowledge, exerts on the process of development of your personality. For
                                            a long period of time books were very rare and because of such confines only
                                            some “esoteric” people could afford them. And you know what? Books always have
                                            some notes of mysticism. Just remember that special atmosphere of solitude in
                                            the library or in the ol...</p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$28.00">$28.00</span>
                                            <span class="money money_sale" data-currency-usd="$35.00">$35.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <input type="hidden" name="id" value="50971153611">
                                                <button class="btn btn-cart" type="submit">Add to cart</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3 item_4_1 item_2_1">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/the-norton-anthology-of-english-literature-ninth-edition-vol-package-1-a-b-c">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_norton_anthology_of_english_literature_ninth_edition_vol_package_1_a_b_c_1_270x270_crop_top.png?v=1504250267"
                                                alt="The Norton Anthology Of English Literature Ninth Edition Vol Package 1 A B C">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_norton_anthology_of_english_literature_ninth_edition_vol_package_1_a_b_c_2_270x270_crop_top.png?v=1504250267"
                                                alt="The Norton Anthology Of English Literature Ninth Edition Vol Package 1 A B C">
                                            <span class="product_badge new">New!</span>
                                            <span class="product_badge sale">–14%</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/the-norton-anthology-of-english-literature-ninth-edition-vol-package-1-a-b-c" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/the-norton-anthology-of-english-literature-ninth-edition-vol-package-1-a-b-c">The Norton Anthology Of English Literature Nint...</a>
                                        </p>
                                        <p class="product_desc product_desc__short">On-line book stores can offer you a great assortment of books. Well, reading books
                                            as a hobby was always a ...</p>
                                        <p class="product_desc product_desc__long">On-line book stores can offer you a great assortment of books. Well, reading books
                                            as a hobby was always a noble, pleasant and very useful kind of activity. It
                                            gives knowledge, exerts on the process of development of your personality. For
                                            a long period of time books were very rare and because of such confines only
                                            some “esoteric” people could afford them. And you know what? Books always have
                                            some notes of mysticism. Just remember that special atmosphere of solitude in
                                            the library or in the ol...</p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$60.00">$60.00</span>
                                            <span class="money money_sale" data-currency-usd="$70.00">$70.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <input type="hidden" name="id" value="50971302347">
                                                <button class="btn btn-cart" type="submit">Add to cart</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  ">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/the-enchanted-collection">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_enchanted_collection_1_270x270_crop_top.png?v=1504250234"
                                                alt="The Enchanted Collection" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/the_enchanted_collection_2_270x270_crop_top.png?v=1504250234"
                                                alt="The Enchanted Collection" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/the-enchanted-collection" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/the-enchanted-collection">The Enchanted Collection</a>
                                        </p>
                                        <p class="product_desc product_desc__short">We all must remember that our forefathers didn’t have such unlimited abilities as
                                            we have. The diversity of...</p>
                                        <p class="product_desc product_desc__long">We all must remember that our forefathers didn’t have such unlimited abilities as
                                            we have. The diversity of our products is unbelievable because we have a vast
                                            book collection - all genres and styles! Our company guarantees the quality of
                                            our goods because we care about our clients. If you have some questions about
                                            our products, terms and other features, you can address our superb 24/7 support
                                            system. Well, reading books as a hobby was always a noble, pleasant and very
                                            useful kind of activity...</p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$78.00">$78.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <button class="btn" disabled="">Unavailable</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  item_2_1">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/nancy-drew-starter-set">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/nancy_drew_starter_set_1_270x270_crop_top.png?v=1504250167"
                                                alt="Nancy Drew Starter Set" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/nancy_drew_starter_set_2_270x270_crop_top.png?v=1504250167"
                                                alt="Nancy Drew Starter Set" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/nancy-drew-starter-set" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/nancy-drew-starter-set">Nancy Drew Starter Set</a>
                                        </p>
                                        <p class="product_desc product_desc__short">It is a great pleasure to give people the knowledge and the power of the intelligence
                                            Our business is very ...</p>
                                        <p class="product_desc product_desc__long">It is a great pleasure to give people the knowledge and the power of the intelligence
                                            Our business is very noble and it has many traditions. That is why we have such
                                            a great number of devoted clients all over the country. It is a great pleasure
                                            to give people the knowledge and the power of the intelligence. We all must remember
                                            that our forefathers didn’t have such unlimited abilities as we have. The diversity
                                            of our products is unbelievable because we have a vast book collection - all
                                            genres...
                                        </p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$44.00">$44.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <input type="hidden" name="id" value="50971129355">
                                                <button class="btn btn-cart" type="submit">Add to cart</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-xs-3  ">
                                <div class="product_item">
                                    <div class="product_img">
                                        <a class="img_change" href="/collections/childrens-books/products/major-works-of-charles-dickens">
                                            <img class="img__1" src="//cdn.shopify.com/s/files/1/2323/3807/products/major_works_of_charles_dickens_1_270x270_crop_top.png?v=1504250149"
                                                alt="Major Works Of Charles Dickens" style="opacity: 1;">
                                            <img class="img__2" src="//cdn.shopify.com/s/files/1/2323/3807/products/major_works_of_charles_dickens_2_270x270_crop_top.png?v=1504250149"
                                                alt="Major Works Of Charles Dickens" style="opacity: 0;">
                                            <span class="product_badge new">New!</span>
                                        </a>
                                        <a class="quick_view_btn" href="/products/major-works-of-charles-dickens" title="Quick view">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="product_info">
                                        <p class="product_name">
                                            <a href="/products/major-works-of-charles-dickens">Major Works Of Charles Dickens</a>
                                        </p>
                                        <p class="product_desc product_desc__short">We all must remember that our forefathers didn’t have such unlimited abilities as
                                            we have. The diversity of...</p>
                                        <p class="product_desc product_desc__long">We all must remember that our forefathers didn’t have such unlimited abilities as
                                            we have. The diversity of our products is unbelievable because we have a vast
                                            book collection - all genres and styles! Our company guarantees the quality of
                                            our goods because we care about our clients. If you have some questions about
                                            our products, terms and other features, you can address our superb 24/7 support
                                            system. Well, reading books as a hobby was always a noble, pleasant and very
                                            useful kind of activity...</p>
                                        <p class="product_price">
                                            <span class="money" data-currency-usd="$39.00">$39.00</span>
                                        </p>
                                        <div class="product_links">
                                            <form method="post" action="/cart/add">
                                                <button class="btn" disabled="">Unavailable</button>
                                            </form>
                                            <a class="btn wishlist_add_login" href="/pages/wishlist" title="Add to the wishlist">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-1478268878755" class="shopify-section section section_homepage section_blog-articles">
                    <div class="container">
                        <h2 class="section_heading">latest from the blog</h2>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="article_item flexible_block flexible_block__normal ">
                                    <div class="layer_1">
                                        <div class="img_placeholder__wrap img_placeholder__small" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/articles/blog_03_370x247_crop_center.png?v=1505814024 );"></div>
                                    </div>
                                    <div class="layer_2">
                                        <div>
                                            <p class="article_title">
                                                <a href="/blogs/blog/textbooks">Textbooks</a>
                                            </p>
                                            <p class="article_content">
                                                Would you rather have new, used, or digital textbooks? The USF Bookstore gives you a choice on how you want to study – even
                                                the option to rent...
                                            </p>
                                            <p class="article_info">
                                                <span>
                                                    <time class="article_time" datetime="2017-09-19T05:40">19 September 2017</time>
                                                </span>
                                            </p>
                                            <a class="btn article_btn " href="/blogs/blog/textbooks">Read more
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="article_item flexible_block flexible_block__normal ">
                                    <div class="layer_1">
                                        <div class="img_placeholder__wrap img_placeholder__small" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/articles/blog_05_370x247_crop_center.png?v=1505813712 );"></div>
                                    </div>
                                    <div class="layer_2">
                                        <div>
                                            <p class="article_title">
                                                <a href="/blogs/blog/school-supplies">School Supplies</a>
                                            </p>
                                            <p class="article_content">
                                                Notebooks and pens are only the beginning. Whether you’re looking for art materials or medical kits, find what you need in
                                                our huge selection of school supplies. We...
                                            </p>
                                            <p class="article_info">
                                                <span>
                                                    <time class="article_time" datetime="2017-09-19T05:36">19 September 2017</time>
                                                </span>
                                            </p>
                                            <a class="btn article_btn " href="/blogs/blog/school-supplies">Read more
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="article_item flexible_block flexible_block__normal ">
                                    <div class="layer_1">
                                        <div class="img_placeholder__wrap img_placeholder__small" style="background-image: url( //cdn.shopify.com/s/files/1/2323/3807/articles/blog_07_370x247_crop_center.jpg?v=1505813194 );"></div>
                                    </div>
                                    <div class="layer_2">
                                        <div>
                                            <p class="article_title">
                                                <a href="/blogs/blog/recommended-audiobooks">Recommended Audiobooks</a>
                                            </p>
                                            <p class="article_content">
                                                We have the biggest bestsellers to the hardest-to-find, out-of-print rarities brought to you by thousands of Booksellers
                                                around the world. We have tremendous variety of products; here you...
                                            </p>
                                            <p class="article_info">
                                                <span>
                                                    <time class="article_time" datetime="2017-09-19T05:16">19 September 2017</time>
                                                </span>
                                            </p>
                                            <a class="btn article_btn " href="/blogs/blog/recommended-audiobooks">Read more
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div id="shopify-section-1478611532944" class="shopify-section section section_homepage section_image-with-text-overlay">
                    <div class="section_wrap flexible_block__medium parallax_block">
                        <div class="img_placeholder__wrap img_placeholder__medium parallax_layer" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/2323/3807/files/parallax_06_2050x871_crop_center.jpg?v=1506416735&quot;); transform: translate3d(0px, -4px, 0px);"></div>
                        <div class="section_txt">
                            <div class="container">
                                <div class="cnt_wrap">
                                    <h2>super sale!</h2>
                                    <h3>Get an extra 15% off</h3>
                                    <h4>your first order</h4>
                                    <a href="/collections/romance" class="btn btn_inverted">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END content_for_index -->
            </div>
