<div class="container">

    <img alt="" src="https://www.wonderplugin.com/wp-content/plugins/wonderplugin-popup/skins/logo-0.png">
    <div>
        <div>
            <p>{{ message }}</p>
        </div>
        <div>
            <a class="btn btn_inverted" href="/"> Quay lại trang chủ </a>
            <a href="/login" class="btn btn_inverted" href="/login">Đăng nhập </a>
        </div>
    </div>
</div>