<div class="container">

    <img alt="" src="https://www.wonderplugin.com/wp-content/plugins/wonderplugin-popup/skins/logo-0.png">
    <div>
        <div>
            <p>{{ message }}</p>
        </div>
        <div>
            <button class="btn btn_inverted">
                <a href="/"> Quay lại trang chủ </a>
            </button>
            <button href="/login" class="btn btn_inverted">
                <a href="/login">Đăng nhập</a>
            </button>
        </div>
    </div>
</div>