<div class="container">
    <div class="main_content sidebar_on col-sm-9 ">
        <div class="template_search">
            <div>
                <h1 class="page_heading">Search: "book" — 22 results</h1>
                <div class="product_options">
                    <div class="product_options__genre">
                        <label for="products_genre_select">Thể loại:</label>
                        <select id="products_genre_select">
                            {{#each listGenres}}
                            <option value={{name}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="product_options__price">
                        <label for="products_price_select">Giá:</label>
                        <select id="products_price_select">
                            <option value="1">Dưới 100.000 đ</option>
                            <option value="2">100.000 đ - 200.000 đ</option>
                            <option value="3">200.000 đ - 500.000 đ</option>
                            <option value="3">Trên 500.000 đ</option>
                        </select>
                    </div>
                    <div class="product_options__publisher">
                        <label for="products_publisher_select">Nhà xuất bản:</label>
                        <select id="products_publisher_select">
                            {{#each listPublishers}}
                            <option value={{name}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="product_options__name">
                        <label for="products_name">Tên sản phẩm:</label>
                        <input type="search" name="q" placeholder="Tên sản phẩm" aria-label="Search store">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <ul class="search_results">
                    <li>
                        <a class="search_results__img" href="/products/the-hunger-games-trilogy-3-book-set">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hunger_games_trilogy_3_book_set_1_200x200.png?v=1504250259"
                                alt="The Hunger Games Trilogy 3 Book Set">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/the-hunger-games-trilogy-3-book-set">The Hunger Games Trilogy 3
                                    <strong class="highlight">Book</strong> Set</a>
                            </p>
                            <p class="search_results__desc">Our business is very noble and it has many traditions Just remember that special atmosphere of
                                solitude in the library or in the old
                                <strong class="highlight">book</strong>-store, it seemed that imponderable scent of rational identity is in the air...
                                The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.
                                But those times are long gone and we live in 21st century, and the most revolutionary thing
                                that had...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$50.00">$50.00</span>
                                <span class="money money_sale" data-currency-usd="$58.00">$58.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/outlander-book-series-by-diana-gabaldon">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/outlander_book_series_by_diana_gabaldon_1_200x200.png?v=1504250185"
                                alt="Outlander Book Series By Diana Gabaldon">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/outlander-book-series-by-diana-gabaldon">Outlander
                                    <strong class="highlight">Book</strong> Series By Diana Gabaldon</a>
                            </p>
                            <p class="search_results__desc">On-line
                                <strong class="highlight">book</strong> stores can offer you a great assortment of
                                <strong class="highlight">book</strong>s. Well, reading
                                <strong class="highlight">book</strong>s as a hobby was always a noble, pleasant and very useful kind of activity.
                                It gives knowledge, exerts on the process of development of your personality. For a long
                                period of time
                                <strong class="highlight">book</strong>s were very rare and because of such confines only some “esoteric” people could
                                afford them. And you know what?
                                <strong class="highlight">Book</strong>s always have some notes of mysticism. Just remember...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$28.00">$28.00</span>
                                <span class="money money_sale" data-currency-usd="$35.00">$35.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/george-r-r-martins-a-game-of-thrones-5-book-boxed-set-song-of-ice-and-fire-series-a-game-of-thrones-a-clash-of-kings-a-storm-of-swords-a-feast-for-crows-and-a-dance-with-dragons">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/george_r_r_martins_a_game_of_thrones_5_book_boxed_set_song_of_ice_and_fire_series_a_game_of_thrones_a_clash_of_kings_a_storm_of_swords_a_feast_for_crows_and_a_dance_with_dragons_1_200x200.png?v=1504250132"
                                alt="George R R Martins A Game Of Thrones 5 Book Boxed Set Song Of Ice And Fire Series A Game Of Thrones A Clash Of Kings A Storm Of Swords A Feast For Crows And A Dance With Dragons">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/george-r-r-martins-a-game-of-thrones-5-book-boxed-set-song-of-ice-and-fire-series-a-game-of-thrones-a-clash-of-kings-a-storm-of-swords-a-feast-for-crows-and-a-dance-with-dragons">George R R Martins A Game Of Thrones 5
                                    <strong class="highlight">Book</strong> Boxed Set Song Of Ice And Fire Series A Game Of Thrones A Clash Of Kings
                                    A Storm Of Swords A Feast For Crows And A Dance With Dragons</a>
                            </p>
                            <p class="search_results__desc">Our business is very noble and it has many traditions Just remember that special atmosphere of
                                solitude in the library or in the old
                                <strong class="highlight">book</strong>-store, it seemed that imponderable scent of rational identity is in the air...
                                The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.
                                But those times are long gone and we live in 21st century, and the most revolutionary thing
                                that had...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$90.00">$90.00</span>
                                <span class="money money_sale" data-currency-usd="$95.00">$95.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/the-peter-rabbit-library-10-book-collection">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_peter_rabbit_library_10_book_collection_1_200x200.png?v=1504250275"
                                alt="The Peter Rabbit Library 10 Book Collection">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/the-peter-rabbit-library-10-book-collection">The Peter Rabbit Library 10
                                    <strong class="highlight">Book</strong> Collection</a>
                            </p>
                            <p class="search_results__desc">We all must remember that our forefathers didn’t have such unlimited abilities as we have. The
                                diversity of our products is unbelievable because we have a vast
                                <strong class="highlight">book</strong> collection - all genres and styles! Our company guarantees the quality of our
                                goods because we care about our clients. If you have some questions about our products, terms
                                and other features, you can address our superb 24/7 support system. Well, reading
                                <strong class="highlight">book</strong>s as a hobby was...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$120.00">$120.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/divergent-series-complete-box-set">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/divergent_series_complete_box_set_1_200x200.png?v=1504250114" alt="Divergent Series Complete Box Set">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/divergent-series-complete-box-set">Divergent Series Complete Box Set</a>
                            </p>
                            <p class="search_results__desc">Well, reading
                                <strong class="highlight">book</strong>s as a hobby was always a noble, pleasant and very useful kind of activity.
                                It gives knowledge, exerts on the process of development of your personality. For a long
                                period of time
                                <strong class="highlight">book</strong>s were very rare and because of such confines only some “esoteric” people could
                                afford them. And you know what?
                                <strong class="highlight">Book</strong>s always have some notes of mysticism. Just remember that special atmosphere
                                of solitude in the library or in the...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$50.00">$50.00</span>
                                <span class="money money_sale" data-currency-usd="$53.00">$53.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/mistborn-trilogy-by-brandon-sanderson">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/mistborn_trilogy_by_brandon_sanderson_1_200x200.png?v=1504250158"
                                alt="Mistborn Trilogy By Brandon Sanderson">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/mistborn-trilogy-by-brandon-sanderson">Mistborn Trilogy By Brandon Sanderson</a>
                            </p>
                            <p class="search_results__desc">Well, reading
                                <strong class="highlight">book</strong>s as a hobby was always a noble, pleasant and very useful kind of activity.
                                It gives knowledge, exerts on the process of development of your personality. For a long
                                period of time
                                <strong class="highlight">book</strong>s were very rare and because of such confines only some “esoteric” people could
                                afford them. And you know what?
                                <strong class="highlight">Book</strong>s always have some notes of mysticism. Just remember that special atmosphere
                                of solitude in the library or in the...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$65.00">$65.00</span>
                                <span class="money money_sale" data-currency-usd="$69.00">$69.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/nora-roberts-boonsboro-trilogy-boxed-set">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/nora_roberts_boonsboro_trilogy_boxed_set_1_200x200.png?v=1504250176"
                                alt="Nora Roberts Boonsboro Trilogy Boxed Set">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/nora-roberts-boonsboro-trilogy-boxed-set">Nora Roberts Boonsboro Trilogy Boxed Set</a>
                            </p>
                            <p class="search_results__desc">Our business is very noble and it has many traditions Just remember that special atmosphere of
                                solitude in the library or in the old
                                <strong class="highlight">book</strong>-store, it seemed that imponderable scent of rational identity is in the air...
                                The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.
                                But those times are long gone and we live in 21st century, and the most revolutionary thing
                                that had...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$70.00">$70.00</span>
                                <span class="money money_sale" data-currency-usd="$80.00">$80.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/the-adventure-collection">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_adventure_collection_1_200x200.png?v=1504250201" alt="The Adventure Collection">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/the-adventure-collection">The Adventure Collection</a>
                            </p>
                            <p class="search_results__desc">Well, reading
                                <strong class="highlight">book</strong>s as a hobby was always a noble, pleasant and very useful kind of activity.
                                It gives knowledge, exerts on the process of development of your personality. For a long
                                period of time
                                <strong class="highlight">book</strong>s were very rare and because of such confines only some “esoteric” people could
                                afford them. And you know what?
                                <strong class="highlight">Book</strong>s always have some notes of mysticism. Just remember that special atmosphere
                                of solitude in the library or in the...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$20.00">$20.00</span>
                                <span class="money money_sale" data-currency-usd="$22.00">$22.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/the-complete-sherlock-holmes">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_complete_sherlock_holmes_1_200x200.png?v=1504250218" alt="The Complete Sherlock Holmes">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/the-complete-sherlock-holmes">The Complete Sherlock Holmes</a>
                            </p>
                            <p class="search_results__desc">Our business is very noble and it has many traditions Just remember that special atmosphere of
                                solitude in the library or in the old
                                <strong class="highlight">book</strong>-store, it seemed that imponderable scent of rational identity is in the air...
                                The unique smell of old and new pages, soft cover and so on. Yeah, they are worth our admiring.
                                But those times are long gone and we live in 21st century, and the most revolutionary thing
                                that had...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$80.00">$80.00</span>
                                <span class="money money_sale" data-currency-usd="$90.00">$90.00</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a class="search_results__img" href="/products/the-hardy-boys-starter-set">
                            <img src="//cdn.shopify.com/s/files/1/2323/3807/products/the_hardy_boys_starter_set_1_200x200.png?v=1504250243" alt="The Hardy Boys Starter Set">
                        </a>
                        <div>
                            <p class="search_results__name">
                                <a href="/products/the-hardy-boys-starter-set">The Hardy Boys Starter Set</a>
                            </p>
                            <p class="search_results__desc">Well, reading
                                <strong class="highlight">book</strong>s as a hobby was always a noble, pleasant and very useful kind of activity.
                                It gives knowledge, exerts on the process of development of your personality. For a long
                                period of time
                                <strong class="highlight">book</strong>s were very rare and because of such confines only some “esoteric” people could
                                afford them. And you know what?
                                <strong class="highlight">Book</strong>s always have some notes of mysticism. Just remember that special atmosphere
                                of solitude in the library or in the...</p>
                            <p class="search_results__price">
                                <span class="money" data-currency-usd="$43.00">$43.00</span>
                                <span class="money money_sale" data-currency-usd="$46.00">$46.00</span>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="pagination">
                    <p>1 – 10 item(s) of 22</p>
                    <ul>
                        <li class="pagination_prev">
                            <span>
                                <i class="fa fa-angle-left" aria-hidden="true"></i>Previous</span>
                        </li>
                        <li class="pagination_current">
                            <span>1</span>
                        </li>
                        <li>
                            <a href="/search?page=2&amp;q=book">2</a>
                        </li>
                        <li>
                            <a href="/search?page=3&amp;q=book">3</a>
                        </li>
                        <li class="pagination_next">
                            <a href="/search?page=2&amp;q=book">Next
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>