<!-- page content -->
<div class="right_col" role="main" style="min-height: 958px;">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Khoá tài khoản</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        <form class="form-horizontal form-label-left" novalidate="">
                            <span class="section">Thông tin tài khoản</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Họ tên
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="bookname" value="Tên sách">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="email" value="vosonhiepa@gmail.com">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Ngày sinh
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="date" value="24/10/2018">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Giới tính
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="genre" value="Cuộc sống">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Địa chỉ
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="address" value="216/9 Dương Bá Trạc">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                    <div>Bạn có muốn khoá tài khoản này không?</div>
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-primary" type="submit">Huỷ</button>
                                    <button class="btn btn-success" id="send" type="submit">Khoá</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->