<!-- page content -->
<div class="right_col" role="main" style="min-height: 958px;">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Thêm sách</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form method="POST" action="" class="form-horizontal form-label-left" novalidate="">
                            <span class="section">Thông tin sách</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên sách
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="name" class="form-control col-md-7 col-xs-12" id="name" required="required" type="text" placeholder="Tôi đi code dạo">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nameAuthor">Tác giả
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-7 col-xs-12" id="author">
                                        {{#each authors}}
                                        <option>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <a href='/admin/author/add' type="button" class="btn btn-round btn-success">
                                    <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                                </a>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="genre">Thể loại
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-7 col-xs-12" id="genre">
                                        {{#each genres}}
                                        <option>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <a href='/admin/genre/add' type="button" class="btn btn-round btn-success">
                                    <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                                </a>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Giá
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="price" class="form-control col-md-7 col-xs-12" id="price" required="required" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="namePublisher">Nhà sản xuất
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-7 col-xs-12" id="publisher">
                                        {{#each publishers}}
                                        <option>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <a href='/admin/publisher/add' type="button" class="btn btn-round btn-success">
                                    <i class="fa fa-plus" aria-hidden="true" style="line-height: inherit;"></i>
                                </a>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Ngày sản xuất
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input name="date" class="optional form-control col-md-7 col-xs-12" id="date" type="date">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Giới thiệu
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea name="description" class="form-control" rows="5" id="description"></textarea>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-primary" type="submit">Cancel</button>
                                    <button class="btn btn-success" id="send" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->