<!-- page content -->
<div class="right_col" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> {{ title }} </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{#with genre}}
                <form action="" class="form-horizontal form-label-left" method="POST">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Thể loại
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="name" class="form-control col-md-7 col-xs-12" id="name" required="required" type="text" value="{{name}}">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="btn btn-success" id="send" type="submit">Thay đổi</button>
                        </div>
                    </div>
                </form>
                {{/with}}
            </div>
        </div>
    </div>
</div>
<!-- page content -->