<!-- page content -->
<div class="right_col" role="main" style="min-height: 958px;">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Xem nhà xuất bản</h3>
            </div>            
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        <form class="form-horizontal form-label-left" novalidate="">
                            <span class="section">Thông tin nhà xuất bản</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Tên nhà xuất bản
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" readonly class="form-control-plaintext" id="bookname" value="Tên sách">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" href ="/admin/book/edit" id="send" type="submit">Sửa thông tin nhà xuất bản</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page content -->