<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form action="/login/signin" method="POST">
          <h1> Đăng nhập </h1>
          <div>
            <input name="email" type="email" class="form-control" placeholder="Email" required="" />
          </div>
          <div>
            <input name="password" type="password" class="form-control" placeholder="Mật khẩu" required="" />
          </div>
          <div>
            <a class="reset_pass" href="#"> Quên mật khẩu? </a>
          </div>
          <div class="clearfix"></div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button class="btn btn-primary submit" type="submit"> Đăng nhập </button>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link"> Bạn chưa có tài khoản?
              <a href="#signup" class="to_register"> Tạo tài khoản </a>
            </p>

            <div class="clearfix"></div>
            <br />


            <div>
              <h1>
                <i class="fa fa-paw"></i> Gentelella Alela!</h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div id="register" class="animate form registration_form">
      <section class="login_content">
        <form name="register_form" action="/login/signup" method="POST">
          <h1> Tạo tài khoản </h1>
          <div class="form-group register">
            <label> Email </label>
            <input name="email" type="email" class="form-control" placeholder="Email" required="" />
          </div>
          <div class="form-group register">
            <label> Mật khẩu </label>
            <input name="password" type="password" class="form-control" placeholder="Mật khẩu" required="" />
          </div>
          <div class="form-group register">
            <label> Nhập lại mật khẩu </label>
            <input name="repassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" required="" />
          </div>
          <div class="form-group register">
            <label> Họ và tên </label>
            <input name="name" type="text" class="form-control" placeholder="Họ và tên" required="" />
          </div>
          <div class="form-group register">
            <label> Giới tính </label>
            <select name="gender" class="form-control">
              <option selected disabled> Chọn giới tính... </option>
              <option value="male"> Nam </option>
              <option value="female"> Nữ </option>
            </select>
          </div>
          <div class="form-group register">
            <label> Ngày sinh </label>
            <input name="birthDate" type="date" class="form-control" placeholder="Ngày sinh (Ngày/tháng/năm)">
          </div>
          <div class="form-group register">
            <label> Địa chỉ </label>
            <input name="address" type="text" class="form-control" placeholder="Địa chỉ">
          </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button class="btn btn-primary submit" type="submit">Đăng ký tài khoản</button>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">Bạn đã có tài khoản?
              <a href="#signin" class="to_register"> Đăng nhập </a>
            </p>

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>
                <i class="fa fa-paw"></i> Gentelella Alela! </h1>
              <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>